.servicesRow{
    margin-top: 150px;
}

.servicesRow p{
    padding-top: 10px;
}
.servicesRow .two{
    margin-left: 200px;
}
@media(max-width:799px)
{
    .servicesRow{
        margin-top: 0px;
    }
    .serviceContainer{
        margin-top: 150px;
    }
    
    .servicesRow .two{
        margin-left: 0px;
    }
}
