.btn{
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s;
    font-size: 20px;
    font-family: fontBlack;
}

.btn.primary{
    background-color: #04DCB3;
    color: white;
}

.btn.black{
    background-color: black;
    color: white;
}

.btn.primary:hover{
    background-color: black;
}

.btn.black:hover{
    background-color: #04DCB3;
}

@media(max-width:799px)
{
    .btn{
        font-size: 14px;
    }
}
