.header{
    width: 100%;
    padding: 20px 0px;
    box-shadow: 0px 0px 10px 0px #888888;
}
.headerLogo{
   flex-basis: 40%;
}
.navigator{
    display: none;
    flex-basis: 20%;
}
@media(max-width:500px)
{
    .headerLogo{
        flex-basis: 80%;
     }
     .navigator{
        display: block;
    }

}
