/* fonts */
@font-face {
  font-family: fontBlack;
  src: url(./font/Roboto-Black.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: fontBold;
  src: url(./font/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: fontMedium;
  src: url(./font/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: fontRegular;
  src: url(./font/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: fontThin;
  src: url(./font/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: normal;
}
*{
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
  max-width: 1600px;
  min-width: 300px;
  min-height: 100%;
  overflow-x:hidden;
  margin: auto;
}

/* displays */
.flex{
  display: flex;
  align-items: center;
}
.flex-spaceBetween{
  display: flex;
  justify-content: space-between;
}
@media(max-width:500px)
{
  .flex{
    flex-direction: column;
  }
}
.grid{
  display: grid;
}
/* positions */
.absolute{
  position: absolute;
}
.inlineBlock{
  display: inline-block;
}
@media(max-width:799px)
{
  .inlineBlock{
    display: block;
  }
}
.absolute-VHmiddle{
  position: absolute;
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.relative{
  position: relative;
}
/* width */
.Width-Fill{
  width: 100%;
}
.Width-95{
  width: 95%;
}
/* elements align(margins) */
.m-auto{
  margin: auto;
}
.m-left{
  margin-left: auto;
}
/* paddings */
.pdT-30{
  padding-top: 30px;
}
/* colors */
.txtWhite{
  color: white;
}
.txtBlack{
  color: black;
}
.txtPrimary{
  color: #04DCB3;
}

/* text sizes and types */
.title{
  font-size: 40px;
  font-family: fontBlack;
}
.thinDesc{
  font-size: 25px;
  font-family: fontThin;
}
.sectionTitle{
  font-size: 30px;
  font-family: fontBold;
}

.sectionDesc{
  font-size: 20px;
  font-family: fontRegular;
}
.headerLinks{
  font-size: 15px;
  font-family: fontMedium;
}
.sectionText{
  font-size:16px;
  font-family: fontRegular;
}
@media(max-width:799px)
{
  .title{
    font-size: 30px;
  }
  .thinDesc{
    font-size: 18px;
  }
  .sectionTitle{
    font-size: 22px;
  }
  
  .sectionDesc{
    font-size: 14px;
  }
  .headerLinks{
    font-size: 12px;
  }
  .sectionText{
    font-size:12px;
  }

}
@media(max-width:500px)
{
  .title{
    font-size: 22px;
  }
  .thinDesc{
    font-size: 14px;
  }

}
/* text align */
.txtCenter{
  text-align: center;
}